
{% include "components/navbar.html" %}


{% block content %}
<!-- book list -->
 
    <div class="divider divider-primary">Books List</div>

<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Author</th>
          <th>Available?</th>
        </tr>
      </thead>
      <tbody>
        {% for book in all_books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>
                {% for author in book.authors.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>

            <td>
                {% if book.available %}
                <div class="badge badge-accent badge-outline">YES</div>
                {% else %}
                <div class="badge badge-secondary badge-outline">NO</div>
                {% endif %}
            </td>
            {% comment %} delete book btn {% endcomment %}
            <td>

                    <button onclick="my_modal_{{book.id}}.showModal()"  class="btn btn-error btn-outline btn-accent">Delete</button>
                
            </td>
            <td>
              <form method="get" action="{% url 'admin_edit_book' book.id %}">
                  {% csrf_token %}
                  <button class="btn btn-outline btn-primary">Edit</button>
              </form>
          </td>
            <dialog id="my_modal_{{book.id}}" class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">
                 🚨 Are you sure you want to delete this book?
                </h3>
                <p class="py-4">
                    ❌ Deleting {{book.title}}... This action cannot be undone.
                </p>
                <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
                <form method="post" action="{% url 'admin_delete_book' book.id %}">
                    {% csrf_token %}
                    <button class="btn btn-error">Delete</button>
                </form>
                </div>
            </div>
            </dialog>
          
        </tr>

        {% endfor %}
    </tbody>
    </table>
    </div>
    </ul>





{% endblock %}



